h1{
  color: red;
}

h2{
   color: blue;
   text-decoration: underline;
}

.box{
        width: 100px;
        height: 100px;
        position: relative;
        margin: 200px auto 0;
        background: yellowgreen;
    }
